##################################################
######
######  Application status
######
##################################################

##################################################
###
###  Application Name
###
##################################################
###
APP_NAME: 'Simple ToDo List'
###
##################################################

##################################################
###
###  Is on maintenance
###
##################################################
###
APP_MAINTENANCE: 'false'
###
##################################################

##################################################
###
###  Is on update
###
##################################################
###
APP_UPDATE: 'false'
###
##################################################

##################################################
######
######  Run configs
######
##################################################

##################################################
###
###  Sacret key
###
##################################################
###
SECRET_KEY_BASE: 'key'
###
##################################################

##################################################
######
######  Localize configs
######
##################################################

##################################################
###
###  Default locale
###
##################################################
###
DEFAULT_LOCALE: 'en'
###
##################################################

##################################################
###
###  Default time zone
###
##################################################
###
TIME_ZONE: 'Kyiv'
###
##################################################

##################################################
######
######  Database configs
######
##################################################

##################################################
###
###  Default Database Host
###
##################################################
###
DATABASE_HOST: 'localhost'
###
##################################################

##################################################
###
###  DEV DataBase
###
##################################################
###
development:
  # => DataBase name
  DATABASE_NAME:     'dev_todo_app'
  # => DataBase User
  DATABASE_USER:     'USER'
  # => DataBase Password for User
  DATABASE_PASSWORD: 'password'
###
##################################################

##################################################
###
###  Production Database
###
##################################################
###
production:
  # => DataBase name
  DATABASE_NAME:     'production_todo_app'
  # => DataBase User
  DATABASE_USER:     'USER'
  # => DataBase Password for User
  DATABASE_PASSWORD: 'password'
###
##################################################

##################################################
###
###  Test Database
###
##################################################
###
test:
  # => DataBase name
  DATABASE_NAME:     'test_todo_app'
  # => DataBase User
  DATABASE_USER:     'USER'
  # => DataBase Password for User
  DATABASE_PASSWORD: 'password'
###
##################################################
