footer{
	margin-top: 20px;
	padding: 10px;
	
	& > h3{
		text-align: center;

		span {
			margin-right: $icon-margin-side;
		}

		img{
			vertical-align: bottom;
			margin-right: $icon-margin-side;
			height: 32px;
			width: 32px;
		}

		a {
			color: $text-black;
			text-decoration: none;
		}

		a:hover {
			color: lighten($text-black, 5%);
			text-decoration: none;
		}
	}
}