@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "nav";
@import "footer";
@import "preloader";
@import "projects";
@import "tasks";
@import "classic";
@import "classic.date";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}