// Twitter Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

// Variables
@import "variables";

// Others
@import "preloader";
@import "bootstrap_extends";
@import "snackbar_extends";

// Layout
@import "layout/footer";
@import "layout/nav-bar";

// Models
@import "models/tasks";
@import "models/projects";
@import "models/comments";

// Vendor/CSS 
@import "classic";
@import "classic.date";
@import "snackbar";
@import "animate";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url(image_path('bg.jpg'));
	background-size: cover;
	background-attachment: fixed;
}

main {
	flex: 1 0 auto;
	padding-top: 60px;
	.application-info{
		margin-bottom: $home-page-component-margin-bottom;

		.icons{
			width: $app-info-icon-height * 2 + $app-info-font-size;
			margin-right: auto;
			margin-left: auto;
			height: $app-info-icon-height;
		}

		.rails, .angular{
			float: left;
			background-size: 80%;
			background-repeat: no-repeat;
			background-position: center;
			width: 50px;
			height: inherit;
		}

		.divider{
			float: left;
			height: inherit;
			span{
				font-size: $app-info-font-size;
				line-height: $app-info-icon-height;

			}
		}

		.rails{
			background-image: url(image_path('rails.png'));
		}

		.angular{
			background-image: url(image_path('angular.png'));
		}
	}
}