@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "nav";
@import "footer";
@import "preloader";
@import "projects";
@import "tasks";
@import "comments";
@import "classic";
@import "classic.date";
@import "snackbar";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.well-primary{
	background-color: lighten($brand-primary, 40%);
}

.well-success{
	background-color: lighten($brand-success, 40%);
}

.well-danger{
	background-color: lighten($brand-danger, 34%);
}

.btn-group {
	& > .btn {
		min-width: 100px;
	}
}

.snackbar-content {
	& > div {
		border-bottom: 1px solid #565656;
		margin-bottom: 10px;
		padding: 0 20px;
		& > ul {
			margin-left: -20px;
		}
	}

	& > div:last-child {
		margin: 0;
		border-bottom: none;
	}
}