.panel-project {
	.panel{
		border-radius: 0 0 10px 10px;
		margin-bottom: 40px;
	}

	.panel-primary{
		border-color: $project-border-color;
		
		& > .panel-heading{
			border-radius: 0;
			font-size: 18px;
			padding: 15px;
			cursor: pointer;

			& > span.calendar{
				margin-right: 15px;
				color: rgb(51,51,51);
			}
		}
	}

	.panel-new-task {
		background-color: $panel-new-task-bg-color;
		padding: 10px;
		& a.btn{
			padding: 0 15px 0 5px;
			font-size: 23px;
		}
	}
}

.add-new-project-btn{
	text-align: center;
	& > a > span {
		margin-right: 10px;
	}
}