.panel-project {
	.panel{
		border-radius: 0 0 10px 10px;
	}

	.panel-primary{
		border-color: $project-border-color;
		
		& > .panel-heading{
			border-radius: 0;
		}
	}

	.panel-new-task {
		background-color: $panel-new-task-bg-color;
		padding: 10px 15px;
	}
}