.actions {
	width: 115px;

	& > a {
		color: inherit;

		&:before{
			margin-right: $margin-content-after;
			margin-left: $margin-content-after;
			content: '|';
			vertical-align: text-bottom;
		}
	}
}

div.actions{
	width: auto;
	
	& > a{
		color: rgb(180,180,180);
		font-size: 15px;
	}
}

td {
	&.done {
		width: 13px;
	}

	&.dedline-days-left{
		min-width: 10px;
		max-width: 50px;
		text-align: center;
		padding-left: $deadline-days-left-padding !important;
		padding-right: $deadline-days-left-padding !important;
	}
}

.table-task > tbody {
	& > tr {
		&:hover{
			cursor: pointer;
			background: rgba(#F1F41B, .1);
		}

		& > td {
			&.actions{
				padding: 11px 15px;
			}

			color: $table-task-text-color;
			padding: 15px;

			& > a.show {
				text-decoration: none;
				color: inherit;
				width: 100%;
				display: block;
			}
		}
	}
}

.icon-group {
	color: $table-task-text-color;
	width: 10px;
	font-size: 10px;
	text-align: center;

	& > a {
		color: inherit;
	}

	& > hr {
		margin: 0;
		height: 1px;
		background-color: $table-task-text-color;
	}
}