.actions {
	width: 113px;

	& > a {
		color: inherit;

		&:after{
			margin-right: $margin-content-after;
			margin-left: $margin-content-after;
			content: '|';
			vertical-align: text-bottom;
		}

		&:last-child:after{
			content: '';
			margin: 0;
		}
	}
}

div.actions{
	width: auto;
	
	& > a{
		color: rgb(180,180,180);
		font-size: 15px;
	}
}

td {
	&.done {
		width: 13px;
	}

	&.dedline-days-left{
		min-width: 10px;
		max-width: 50px;
		text-align: center;
		padding-left: $deadline-days-left-padding !important;
		padding-right: $deadline-days-left-padding !important;
	}
}

.table-task > tbody > tr > td {
	color: $table-task-text-color;
	padding: 15px;
}