// Border color for project panel
$project-border-color: #C7C7C7

// Background color for panel creating new task
$panel-new-task-bg-color: #eeeeee

// Text color for row in task table
$table-task-text-color: #777777

// Margin of content after actions button for task
$margin-content-after: 8px

// Padding of deadline-days-left class
$deadline-days-left-padding: 10px

// Height of icons in app info
$app-info-icon-height: 50px

// Font size of app icons glyph
$app-info-font-size: 20px

// Minimum width af all btn which in btn-group class
$min-btn-width-in-group: 100px

// margin of icons with text
$icon-margin-side: 10px

// Color of the white text
$text-white: #ffffff

// Color of the black text
$text-black: $text-color

// Border radius for user-actions block
$border-radius-user-action: 15px

// Project holder border radius
$project-border-radius: 15px

// Margin bottom of all components in home page
$home-page-component-margin-bottom: 40px

// border for user-actions
$border-user-actions: 1px solid #ffffff